# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Create the bot on Telegram and place the token here
TELEGRAM_BOT_TOKEN=7325482342:AAGfExzAOb5V66N4aCjiycL9-IULfUGVUG8

DERIV_BOT_TOKEN=2EhRyJ3xvy1FFj0

# URL of where your backend is hosted
URL_SERVER=https://0254-2c0f-f8f0-e578-0-f50a-f37d-1bd6-feea.ngrok-free.app/webhook