<!-- error-section -->
<section class="error-section centred">
    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-51.png);"></div>
    <div class="scroll-text">
        <div class="text-box-one">
            <div class="text-inner">
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
            </div>
        </div>
        <div class="text-box-two">
            <div class="text-inner">
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
                <h4>Page Not Found</h4>
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="inner-box">
            <h3>Oops!</h3>
            <h1>404</h1>
            <h2>Page not found!</h2>
            <p>Try refining your search or use the navigation below to return <br />to the main home page.</p>
            <a href="index.html" class="theme-btn btn-three"><span>Back to Home</span></a>
        </div>
    </div>
</section>
<!-- error-section end -->