<!DOCTYPE html>
<html>
    <%- include('layouts/head.ejs', { data }) %>
    <body>
        <%- include('layouts/header.ejs', { data }) %>
        <h2>Welcome to ChloeFXD</h2>
        <%- include('layouts/footer.ejs', { data }) %>
        <%- include('scripts/deriv-oauth.ejs', { data }) %>
    </body>
</html>