<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Bullion - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="assets/css/font-awesome-all.css" rel="stylesheet">
<link href="assets/css/flaticon.css" rel="stylesheet">
<link href="assets/css/owl.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="assets/css/animate.css" rel="stylesheet">
<link href="assets/css/nice-select.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">


        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">x</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="b" class="letters-loading">
                                b
                            </span>
                            <span data-text-preloader="u" class="letters-loading">
                                u
                            </span>
                            <span data-text-preloader="l" class="letters-loading">
                                l
                            </span>
                            <span data-text-preloader="l" class="letters-loading">
                                l
                            </span>
                            <span data-text-preloader="i" class="letters-loading">
                                i
                            </span>
                            <span data-text-preloader="o" class="letters-loading">
                                o
                            </span>
                            <span data-text-preloader="n" class="letters-loading">
                                n
                            </span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- preloader end -->


        <!--Search Popup-->
        <div id="search-popup" class="search-popup">
            <div class="popup-inner">
                <div class="upper-box clearfix">
                    <figure class="logo-box pull-left"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
                    <div class="close-search pull-right"><i class="fa-solid fa-xmark"></i></div>
                </div>
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="search-form">
                        <form method="post" action="index.html">
                            <div class="form-group">
                                <fieldset>
                                    <input type="search" class="form-control" name="search-input" value="" placeholder="Type your keyword and hit" required >
                                    <button type="submit"><i class="flaticon-loupe"></i></button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- main header -->
        <header class="main-header">
            <!-- header-top -->
            <div class="header-top">
                <div class="outer-container">
                    <div class="support-box">
                        <div class="icon-box"><img src="assets/images/icons/icon-1.png" alt=""></div>
                        <p><a href="tel:1222567890">+1 222 56 78 90</a> or Request for a <a href="tel:1222567890"><span>call back</span></a></p>
                    </div>
                    <div class="text">
                        <div class="icon-box"><img src="assets/images/icons/icon-2.png" alt=""></div>
                        <p>£20 Discount & Get 24/7 Free Assistance</p>
                    </div>
                    <div class="right-column">
                        <div class="guide-box">
                            <div class="icon-box"><img src="assets/images/icons/icon-3.png" alt=""></div>
                            <p><a href="index.html">Free Trading Guides</a></p>
                        </div>
                        <div class="help-center">
                            <div class="icon-box"><img src="assets/images/icons/icon-4.png" alt=""></div>
                            <p><a href="index.html">Help Center</a></p>
                        </div>
                        <div class="language-box">
                            <div class="icon-box"><img src="assets/images/icons/icon-5.png" alt=""></div>
                            <div class="select-box">
                                <select class="wide">
                                   <option data-display="English">English</option>
                                   <option value="1">Chinese</option>
                                   <option value="2">Hindi</option>
                                   <option value="3">Spanish</option>
                                   <option value="4">Turky</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-lower -->
            <div class="header-lower">
                <div class="outer-container">
                    <div class="outer-box">
                        <div class="menu-area">
                            <div class="logo-box">
                                <figure class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
                            </div>
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown"><a href="index.html">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home One</a></li>
                                                <li><a href="index-2.html">Home Two</a></li>
                                                <li><a href="index-3.html">Home Three</a></li>
                                            </ul>
                                        </li>  
                                        <li class="dropdown"><a href="index.html">Markets</a>
                                            <ul>
                                                <li><a href="markets.html">Markets</a></li>
                                                <li><a href="market-details.html">Details Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="index.html">Trading</a>
                                            <ul>
                                                <li><a href="platform.html">Platform</a></li>
                                                <li><a href="account.html">Our Accounts</a></li>
                                                <li><a href="account-details.html">Standard Account</a></li>
                                                <li><a href="account-details-2.html">Commision Account</a></li>
                                                <li><a href="account-details-3.html">STP Pro Account</a></li>
                                            </ul>
                                        </li> 
                                        <li class="current dropdown"><a href="index.html">Education</a>
                                            <ul>
                                                <li><a href="education.html">Education</a></li>
                                                <li><a href="education-details.html">Detail Page</a></li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="index.html">About</a>
                                            <ul>
                                                <li><a href="about.html">Company</a></li>
                                                <li><a href="history.html">History</a></li>
                                                <li><a href="team.html">Team</a></li>
                                                <li class="dropdown"><a href="index.html">Blog</a>
                                                    <ul>
                                                        <li><a href="blog.html">3 Columns</a></li>
                                                        <li><a href="blog-2.html">3 Columns Sidebar</a></li>
                                                        <li><a href="blog-3.html">List View 01</a></li>
                                                        <li><a href="blog-4.html">List View 02</a></li>
                                                        <li><a href="blog-details.html">Single Post</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="faq.html">Faq’s</a></li>
                                                <li><a href="error.html">404</a></li>
                                            </ul>
                                        </li>  
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-right-content">
                            <div class="search-box-outer search-toggler"><i class="flaticon-search"></i></div>
                            <div class="clients-box">
                                <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                <a href="index.html">Client Portal<i class="flaticon-right-down"></i></a>
                            </div>
                            <div class="btn-box"><a href="index.html" class="theme-btn btn-one"><span>Open an A/c</span></a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="outer-container">
                    <div class="outer-box">
                        <div class="menu-area">
                            <div class="logo-box">
                                <figure class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
                            </div>
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <div class="menu-right-content">
                            <div class="search-box-outer search-toggler"><i class="flaticon-search"></i></div>
                            <div class="clients-box">
                                <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                <a href="index.html">Client Portal<i class="flaticon-right-down"></i></a>
                            </div>
                            <div class="btn-box"><a href="index.html" class="theme-btn btn-one"><span>Open an A/c</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="assets/images/logo-2.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->


        <!-- page-title -->
        <section class="page-title centred">
            <div class="bg-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
            <div class="line-box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Education</h1>
                    <p>Deaching of the great explorer of the truth the builder</p>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Education</li>
                        <li>Detail Page</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- education-details -->
        <section class="education-details sec-pad">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="education-details-content">
                            <div class="upper-box">
                                <ul class="info-box clearfix">
                                    <li>
                                        <div class="icon-box"><img src="assets/images/icons/icon-69.png" alt=""></div>
                                        Forex
                                    </li>
                                    <li>
                                        <div class="icon-box"><img src="assets/images/icons/icon-70.png" alt=""></div>
                                        Beginner
                                    </li>
                                </ul>
                                <h2>What is Forex Trading & How Does it Work</h2>
                                <div class="author-box">
                                    <figure class="author-thumb"><img src="assets/images/resource/author-1.jpg" alt=""></figure>
                                    <h5>Liam Benjamin</h5>
                                    <span class="designation">Instructor</span>
                                </div>
                                <ul class="links-list clearfix">
                                    <li><button type="button"><i class="fa-sharp fa-solid fa-heart"></i></button></li>
                                    <li><a href="education-details.html"><i class="fa-solid fa-share-nodes"></i></a></li>
                                </ul>
                            </div>
                            <div class="tabs-box">
                                <div class="tab-btn-box">
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li class="tab-btn active-btn" data-tab="#tab-1"><h5>Our Course</h5></li>
                                        <li class="tab-btn" data-tab="#tab-2"><h5>Traders Reviews</h5></li>
                                        <li class="tab-btn" data-tab="#tab-3"><h5>Question & Answer</h5></li>
                                    </ul>
                                </div>
                                <div class="tabs-content">
                                    <div class="tab active-tab" id="tab-1">
                                        <div class="course-content">
                                            <div class="content-one">
                                                <div class="text-box">
                                                    <h3>What are you going to Learn</h3>
                                                    <p><i class="flaticon-read"></i>3 Lectures _ 1hr 15mins</p>
                                                </div>
                                                <ul class="download-list clearfix">
                                                    <li>
                                                        <button class="downloaded"><i class="flaticon-video-camera"></i>What is Forex?<span>24 minutes</span></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="flaticon-video-camera"></i>How It’s Work?<span>15 minutes</span></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="flaticon-volume-up"></i>How to Start Forex Trading?<span>36 minutes</span></button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="content-two">
                                                <h3>What is Forex?</h3>
                                                <p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are and pain can procure him some great pleasure.</p>
                                                <h4>Everything you need to trade Forex in one place</h4>
                                                <ul class="list-style-one clearfix">
                                                    <li>Et harum quidem rerum facilis est expedita.</li>
                                                    <li>officiis debitis aut rerum.</li>
                                                    <li>Temporibus autem quibusdam et aut.</li>
                                                </ul>
                                                <div class="video-inner" style="background-image: url(assets/images/background/video-bg.jpg);">
                                                    <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><img src="assets/images/icons/icon-57.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-2">
                                        <div class="review-content">
                                            <h3>Reviews</h3>
                                            <div class="comment-box">
                                                <div class="single-comment-box">
                                                    <figure class="comment-thumb"><img src="assets/images/resource/comment-1.jpg" alt=""></figure>
                                                    <h4>Steven Rich<span>08 Jan, 2023</span></h4>
                                                    <p>Gain is there anyone who loves or pursues or desires to obtain pain of itself, because occur in which toil and pain can procure him some great.</p>
                                                    <ul class="rating clearfix">
                                                        <li><i class="flaticon-star"></i></li>
                                                        <li><i class="flaticon-star"></i></li>
                                                        <li><i class="flaticon-star"></i></li>
                                                        <li><i class="flaticon-star"></i></li>
                                                        <li><i class="flaticon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="single-comment-box">
                                                    <figure class="comment-thumb"><img src="assets/images/resource/comment-2.jpg" alt=""></figure>
                                                    <h4>William Cobus<span>24 Dec, 2022</span></h4>
                                                    <p>Ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault.</p>
                                                    <ul class="rating clearfix">
                                                        <li><i class="flaticon-star"></i></li>
                                                        <li><i class="flaticon-star"></i></li>
                                                        <li><i class="flaticon-star"></i></li>
                                                        <li><i class="flaticon-star"></i></li>
                                                        <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="comment-form">
                                                <div class="text-box">
                                                    <h3>Add Your Comment</h3>
                                                    <p>Your email address will not be published. Required fields are marked <span>*</span></p>
                                                </div>
                                                <form method="post" action="education-details.html" class="default-form">
                                                    <div class="row clearfix">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                            <textarea name="message" placeholder="Your Comment *"></textarea>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                                            <input type="text" name="name" placeholder="Your Name" required>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                                            <input type="email" name="email" placeholder="Email * " required>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                            <div class="check-box">
                                                                <input class="check" type="checkbox" id="checkbox1">
                                                                <label for="checkbox1">Save my name, email & website in this browser for the next time I comment.</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                                            <button type="submit" class="theme-btn btn-three"><span>Submit Now</span></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-3">
                                        <div class="accordion-inner">
                                            <h3>Question & Answer</h3>
                                            <ul class="accordion-box">
                                                <li class="accordion block active-block">
                                                    <div class="acc-btn active">
                                                        <div class="icon-box"><i class="flaticon-plus"></i></div>
                                                        <span>01</span>
                                                        <h4>How can I start trading Forex?</h4>
                                                        <p>Molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas...</p>
                                                    </div>
                                                    <div class="acc-content current">
                                                        <div class="text">
                                                            <p>Molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas Temporibus autem quibusdam et aut officiis debitis.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-box"><i class="flaticon-plus"></i></div>
                                                        <span>02</span>
                                                        <h4>How much money do I need to start?</h4>
                                                        <p>Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur...</p>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur commodo Nunc tempor amet massa diam mauris Risus sodales interdum.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-box"><i class="flaticon-plus"></i></div>
                                                        <span>03</span>
                                                        <h4>What is margin?</h4>
                                                        <p>Laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem...</p>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>Laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem mattis commodo Nunc tempor amet massa diam mauris Risus sodales interdum.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="accordion block">
                                                    <div class="acc-btn">
                                                        <div class="icon-box"><i class="flaticon-plus"></i></div>
                                                        <span>04</span>
                                                        <h4>Can I lose more than I invest in Forex?</h4>
                                                        <p>Optio cumque nihil impedit quo minus id quod maxime placeat facere...</p>
                                                    </div>
                                                    <div class="acc-content">
                                                        <div class="text">
                                                            <p>Optio cumque nihil impedit quo minus id quod maxime placeat facere commodo Nunc tempor amet massa diam mauris Risus sodales interdum.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="education-sidebar">
                            <div class="upper-box">
                                <h3>$54.00<del>$79.00</del></h3>
                                <p>2 days left at this price!</p>
                                <ul class="rating clearfix">
                                    <li><i class="flaticon-star"></i></li>
                                    <li><i class="flaticon-star"></i></li>
                                    <li><i class="flaticon-star"></i></li>
                                    <li><i class="flaticon-star"></i></li>
                                    <li><i class="flaticon-star"></i></li>
                                    <li><span>5.0</span></li>
                                    <li>(2,726 Reviews)</li>
                                </ul>
                            </div>
                            <ul class="info-list clearfix">
                                <li><i class="flaticon-language"></i>Language<span>English</span></li>
                                <li><i class="flaticon-clock"></i>Access<span>Lifetime</span></li>
                                <li><i class="flaticon-quality"></i>Certificate<span>Yes</span></li>
                                <li><i class="flaticon-add-user"></i>Enrolled<span>45 Students</span></li>
                            </ul>
                            <div class="btn-box">
                                <a href="education-details.html" class="theme-btn btn-three"><span>Buy Now</span></a>
                            </div>
                            <ul class="social-links clearfix centred">
                                <li><a href="education-details.html"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="education-details.html"><i class="fa-brands fa-square-twitter"></i></a></li>
                                <li><a href="education-details.html"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="education-details.html"><i class="fa-brands fa-square-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- education-details end -->


        <!-- main-footer -->
        <footer class="main-footer">
            <div class="widget-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Our Community</h3>
                                </div>
                                <div class="widget-content">
                                    <p>Here you'll find regular market updates, expert tips & stories.</p>
                                    <form action="contact.html" method="post">
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Email address..." required>
                                            <button type="submit"><img src="assets/images/icons/icon-27.png" alt=""></button>
                                        </div>
                                    </form>
                                    <h3>Follow us</h3>
                                    <ul class="social-links clearfix">
                                        <li><a href="index.html"><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href="index.html"><i class="fa-brands fa-square-twitter"></i></a></li>
                                        <li><a href="index.html"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="index.html"><i class="fa-brands fa-square-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Useful Links</h3>
                                </div>
                                <div class="widget-content">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 links-column">
                                            <ul class="links-list clearfix">
                                                <li><a href="index.html">About Us</a></li>
                                                <li><a href="index.html">Careers</a></li>
                                                <li><a href="index.html">Meet Our Team</a></li>
                                                <li><a href="index.html">Process</a></li>
                                                <li><a href="index.html">Mission & Vision</a></li>
                                                <li><a href="index.html">Faq’s</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 links-column">
                                            <ul class="links-list clearfix">
                                                <li><a href="index.html">Education</a></li>
                                                <li><a href="index.html">Trading Tools</a></li>
                                                <li><a href="index.html">Pricing List</a></li>
                                                <li><a href="index.html">Accout Types</a></li>
                                                <li><a href="index.html">Legal Notice</a></li>
                                                <li><a href="index.html">Privacy Policy</a></li>
                                                <li><a href="index.html">Conditions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget assistance-widget">
                                <div class="widget-content">
                                    <h3>Need assistance?</h3>
                                    <p>Live chat with our service team for information & assistance.</p>
                                    <div class="assistance-box">
                                        <figure class="assistance-thumb"><img src="assets/images/resource/assistance-1.jpg" alt=""></figure>
                                        <h5>Live Chat With</h5>
                                        <div class="link-box"><a href="index.html"><span>Expert</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="bottom-inner">
                        <div class="copyright">
                            <p>&copy; <span>2023 <a href="index.html">Bullion</a>.</span> All Rights Reserved.</p>
                        </div>
                        <ul class="footer-card clearfix">
                            <li><a href="index.html"><i class="flaticon-symbols"></i></a></li>
                            <li><a href="index.html"><i class="flaticon-tool"></i></a></li>
                            <li><a href="index.html"><i class="flaticon-money"></i></a></li>
                            <li><a href="index.html"><i class="flaticon-symbol"></i></a></li>
                            <li><a href="index.html"><i class="flaticon-symbols-1"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main-footer end -->
        


        <!-- scroll to top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="flaticon-up-arrow"></i>
        </button>
        
    </div>


    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
